@import '../../../assets/scss/abstracts/variables/colors';

.hand {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &__total {
    position: absolute;
    font-size: 1.2em;
    background-color: $gray--med;
    border-radius: 50%;
    border: 1px solid $gray--med;
    padding: 10px;
    top: -45px;
    color: $white;
    z-index: 99;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding: 1px;
  }

  &__card {
    width: 20vw;
    height: 27vw;
    max-width: 190px;
    max-height: 250px;
  }
}