@import '../../../assets/scss/abstracts/variables/colors';

.score-board {
  display: flex;
  color: $white;
  padding: 10px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: $gray--dark;
}
