<div [ngClass]="[player.type === 'player' ? 'player' : 'player player__divider']" *ngIf="handLoaded; else loading">
  <h2 class="player__role">{{player.name}}</h2>
  <!-- <app-hand [cards]="player.cards" [dealer]="player.type === 'dealer'"></app-hand> -->
  <app-hand [player]="player"></app-hand>
  <app-control *ngIf="player.type === 'player'"></app-control>
</div>

<ng-template #loading>
  <div class="player">
    <img src="../../assets/images/shuffle.gif" alt="shuffle">
  </div>
</ng-template>
