.nav {
  background: #2D2E2E;
  height: 100%;
  width: 70px;

  &__item {

    &-link {
      color: #fff;
      padding: 20px;
      display: block;
    }

    .activated {
      background-color: #00a8ff;
    }
  }
}
